<!DOCTYPE html>
<html>
  <head>
    <title>欢迎<%= user %>访问我们的社区</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user %>注册成功</h1>
    <%
      for(let i = 1; i < 10; i++){
          for(let j = 1; j <=i; j++){
      %>
      <%=i%> * <%=j%> = <%=i*j%> &nbsp;&nbsp;

    <%
    }
    %>
        <br>
    <%
      }
    %>
    <p>Welcome to <%= user %>,你是我们网站的第 <%=num%> 名用户</p>
  </body>
</html>
